* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    background-color: var(--corFundo);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
/* Iteração JavaScript */
.iteração{
    text-align: center;
    
}
.itera{
    border-color: var(--corFundo);
    border-radius: 1px;
    color: var(--corHover);
    text-decoration: none;
}

:root{
    --corFundo: rgb(45, 106, 77);
    --corHover: rgb(25, 224, 68);
   
}

/* Botões */
nav{
    background-color:var(--corFundo);
    opacity: 0.9;
    display: flex;
}

nav li{
    display: inline-block;
}

nav li a{
    color: rgb(24, 71, 53);
    text-decoration: none;
    padding: 20px;
    display: inline-block;

}
nav li a:hover{
   color: var(--corHover);
}

.menudrop a{
    display: block;
    border: solid rgb(47, 216, 78);
    border-radius: 1px;
}
.dropdown{
    padding-bottom: 120px;
    padding-right: 10px;
}
.dropdown a{
    border: solid rgb(47, 216, 78);
    border-radius: 1px;
}

.menudrop{
    position: absolute;
    display: none;
    text-shadow: black, 2px;
    opacity: 1.0;
}
.dropdown:hover .menudrop {
    display: block;
}   
.texto1{
    color: black;
    text-align: justify;
    font-size-adjust: unset;
    position: relative;
    display: inline-block;
    width: 350px;
    height: 600px;
    top: 20px;
    margin-right: 200px;
}
.imagem1 {
    display: inline-block;
    margin-right: 100px;
    top: 20px;
    }   
    .final {
        display: block;
        background-color: rgba(9, 8, 8, 0.228);
        text-align: center;
        color:rgb(51, 132, 94);
        font-size: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }