body{
    margin: 0;

}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(45, 106, 77);
    opacity: 0.9;
    
 }
.logo {
    background-color: rgba(45, 106, 77);
    background-attachment:scroll;
    opacity: 0.9;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    

}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    
}

.tabela {

    display: table;
    float: left;
    box-sizing: border-box;
    margin-left: 380px;
    margin-bottom: 30px;

}

.superiorBaixo {
    background-color: rgb(40, 81, 62);
    padding: 50px;
    display: flex;
    
}
.botao1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: black;
    box-shadow: inset 2px 2px 5px 5px rgb(40, 81, 62);
    display: inline;
      
    
    
}
.botao2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: black;
    box-shadow: inset 2px 2px 5px 5px rgb(40, 81, 62);
    display: inline;
   }
.botoes {
    display: inline-block;
   
}

.texto1{
    color: black;
    text-align: justify;
    font-size-adjust: unset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    display: inline-block;
    width: 350px;
    height: 600px;
    top: 20px;
    margin-right: 200px;
}
.imagem1 {
    display: inline-block;
    margin-right: 100px;
    top: 20px;
    }   
.desfralde{
    background-color: rgb(224, 219, 219);
    
}  
.caixatexto {
    position: relative;
    bottom: 600px;
    left: 550px;
    border-radius: 10px;
    display: flex;
    flex: 0;
    box-sizing: border-box;
    width:50%;
    font-size: 20px;
    
}


.foto {
  flex: 1;
   
}
.descricao {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: justify;
    text-size-adjust: unset;
    display: flex;
    flex: 3;    
}

.charme, .charme2{
    background-color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    
}
.marca {
    color: rgb(6, 5, 5);
    margin: 0;
}

.seletividade {
    background-color: rgb(40, 81, 62);
    padding: 15px;
}
.texto2 {
    color: aliceblue;
    text-align: justify;
    font-size-adjust: unset;
    position: relative;
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    
}
.imagem2{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}
.titulo {
    color: aliceblue;
}
.sintomas{
    background-color: aliceblue;
}
.imagem2, .texto2{
    display: inline-block;
}
.final {
    display: block;
    background-color: rgba(9, 8, 8, 0.228);
    text-align: center;
    color:rgb(51, 132, 94);
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
