* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
}
body{
    margin: 0;
    box-sizing: border-box;
}
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

:root{
    --corFundo: rgb(45, 106, 77);
    --corHover: rgb(25, 224, 68);
   
}

a {
    border: solid rgb(47, 216, 78);
    border-radius: 1px;

}

nav{
    background-color:var(--corFundo);
    opacity: 0.9;
    display: flex;
}

nav li{
    display: inline-block;
}

nav li a{
    color: rgb(24, 71, 53);
    text-decoration: none;
    padding: 20px;
    display: inline-block;

}
nav li a:hover{
   color: var(--corHover);
}

.dropdown{
    padding-bottom: 25px;
    padding-right: 10px;
    padding-left: 40px;
}

.img {
    padding: 0px;
    margin: 0px;
    opacity: 0.9;
}
  
.caixatexto2 {
    position: relative;
    bottom: 600px;
    left: 550px;
    border-radius: 10px;
    display: flex;
    flex: 0;
    box-sizing: border-box;
    width:50%;
    
}

.integracaoS {
    display: inline-block;
    padding: 0px;
    top: 0px;
}
.texto3 {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgb(43, 79, 43);
    margin: 0px;
}
.imagem3 {
    float: left;
    margin-right: 50px;
}
.superior2 {
    background-color: rgb(238, 246, 236);
}
.texto4 {
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    color: rgb(43, 79, 43);
    margin-top: 100px;
}
.imagem4{
    float: left;
    margin-bottom: 200px;
    margin-top: 100px;
    margin-right: 50px; ;
}
.profissional {
    display: inline-block;
}
.insta {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-top: 100px;
    display: inline-block;
}
.cs {
    color: aliceblue;
    font-size: 70px;
}