
body {
    margin: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header {
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: initial;
    padding: 20px 30px;
    

}
* {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.tabela {

    display: table;
    float: left;
    box-sizing: border-box;
    margin-left: 380px;
    margin-bottom: 30px;

}

.superior {
    background-color: rgb(40, 76, 33);
    left: 0px;
    opacity: 0.6;
    position: relative;
    margin-top: 0px;
    padding-top: 0px;
    border-top: 0px;   



}
.botao1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: black;
    box-shadow: inset 2px 2px 5px 5px rgb(40, 81, 62);
    display: inline;
      
    
    
}
.botao2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    color: black;
    box-shadow: inset 2px 2px 5px 5px rgb(40, 81, 62);
    display: inline;
   }
.botoes {
    display: inline-block;
}

.texto1{
    color: black;
    text-align: justify;
    font-size-adjust: unset;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    display: inline-block;
    width: 350px;
    height: 600px;
    top: 20px;
    margin-right: 200px;
}
.imagem1 {
    display: inline-block;
    margin-right: 100px;
    top: 20px;
    }   
.desfralde{
    background-color: rgb(224, 219, 219);
    
}
.logo {
    opacity: 0.7;
    color: rgb(13, 240, 187);
    position: relative;
    opacity: 1.0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
   
}
.caixatexto {
    background-color: rgb(11, 11, 11);
    opacity: 0.3;
    position: absolute;
    padding: 10px;
    text-align: center;
    text-shadow: aliceblue;
    bottom: 600px;
    left: 550px;
    border-radius: 15px;
    text-decoration: dotted;
}

.superiorBaixo {
    background-color: rgb(40, 81, 62);
    padding: 50px;
    display: flex;
}
.foto {
    flex: 1;
}
.descricao {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    text-align: justify;
    text-size-adjust: unset;
    flex: 3;
}
.charme, .charme2{
    background-color: aliceblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.marca {
    color: black;
    margin: 0;
}

.seletividade {
    background-color: rgb(40, 81, 62);
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.texto2 {
    color: aliceblue;
    text-align: justify;
    font-size-adjust: unset;
    position: relative;
    margin-top: 50px;
    
}
.imagem2{
    float:inline-end
}
.titulo {
    color: aliceblue;
}
.sintomas{
    background-color: aliceblue;
}
.imagem2, .texto2{
    display: inline-block;
}
